<div class="detail-tracklisting">
  <table class="table">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Tituto</th>
        <th>Duracion</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of albumInfo[id].album.tracks">
        <td>
          {{ track.trackNumber }}
        </td>
        <td>{{ track.trackName }}</td>
        <td>{{ track.trackLength }}</td>
        <td>
          <button>
            {{ track.trackPrice | currency: "USD":"symbol":"1.2-2" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
